{% extends "layout.html" %} {% load static %}
{% block title %} Contact us Page {% endblock %}
{% block body %}

<section class="text-gray-700 h-screen">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-gray-800"
    >
      Contact Us
    </h2>
    {% if message %}
    <h2
      class="mb-4 text-2xl tracking-tight font-extrabold text-center text-gray-900 dark:text-gray-800"
    >
      Thanks {{user.first_name}}
    </h2>
    <p
      class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-500 sm:text-lg"
    >
      We received your email and will respond shortly
    </p>
    {% else %}
    <p
      class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-500 sm:text-xl"
    >
      Got a technical issue? Want to send feedback about a beta feature? Need
      details about our Business plan? Let us know.
    </p>

    <form action="{% url 'contactUs' %}" method="POST" class="space-y-8">
      {% csrf_token %}
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-500"
          >Your email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="shadow-md bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500"
          placeholder="name@example.com"
          required
        />
      </div>
      <div>
        <label
          for="subject"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-500"
          >Subject</label
        >
        <input
          type="text"
          id="subject"
          name="subject"
          class="shadow-md bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500"
          placeholder="Let us know how we can help you"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-600"
          >Your message</label
        >
        <textarea
          id="message"
          name="message"
          rows="6"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-md border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500"
          placeholder="Leave a comment..."
        ></textarea>
      </div>
      <button
        type="submit"
        class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-[#1A8CF7] dark:hover:bg-[#187bd8] dark:focus:ring-primary-800"
      >
        Send message
      </button>
    </form>
    {% endif %}
  </div>
</section>

{% include "footer.html" %} {% endblock %}
