{% extends "layout.html" %} {% block title %} Edit Category {% endblock %}
{%block body %}
<div
  class="max-w-md mx-auto overflow-hidden md:max-w-6xl my-4 px-5 project-font"
>
  <h1
    class="text-4xl md:text-5xl capitalize my-5 project-font font-bold text-center"
  >
    Edit {{category.title}}
  </h1>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="mb-6">
      <label
        for="categoryTitle"
        class="block mb-2 text-sm font-medium text-black dark:text-black"
        >Title <sup class="text-red-300 font-bold text-md">*</sup></label
      >
      <input
        name="categoryTitle"
        value="{{category.title}}"
        required
        type="text"
        id="categoryTitle"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white shadow-md dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Title"
        required
      />
    </div>
    <div class="mb-6">
      <label
        for="categoryImage"
        class="block mb-2 text-sm font-medium text-black dark:text-black"
        >Image URL <sup class="text-red-300 font-bold text-md">*</sup></label
      >
      <input
        name="categoryImage"
        value="{{category.image}}"
        required
        type="text"
        id="categoryImage"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-white shadow-md dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="URL"
        required
      />
    </div>
    <div class="mb-6">
      <label
        for="categoryContent"
        class="block mb-2 text-sm font-medium text-black dark:text-black"
        >Content <sup class="text-red-300 font-bold text-md">*</sup></label
      >
      <textarea
        name="categoryContent"
        id="categoryContent"
        required
        rows="10"
        class="resize-none md:resize-y block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-white shadow-md dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Write your thoughts here..."
      >
{{category.content}}</textarea
      >
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Edit
    </button>
  </form>
</div>

{% endblock %}
