{% if articles.has_other_pages  %}
<nav aria-label="Page navigation example" class=" mb-10">
  <ul class="inline-flex -space-x-px text-base h-10">
    {% if articles.has_previous %}
      <li>
        <a href="?page={{articles.previous_page_number}}" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:white dark:border-[#1A8CF7] dark:text-[#1A8CF7] dark:hover:bg-[#1A8CF7] dark:hover:text-white">Previous</a>
      </li>
    {% else %}
      <li>
        <a disabled class="cursor-not-allowed disabled flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg dark:white dark:border-[#1A8CF7] dark:text-[#1A8CF7]">Previous</a>
      </li>
    {% endif %}

    {% for i in articles.paginator.page_range %}
    <li>
      <a href="?page={{i}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:white dark:border-[#1A8CF7] dark:text-[#1A8CF7] dark:hover:bg-[#1A8CF7] dark:hover:text-white">{{i}}</a>
    </li>
    {% endfor %}

    {% if articles.has_next %}
      <li>
        <a href="?page={{articles.next_page_number}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:white dark:border-[#1A8CF7] dark:text-[#1A8CF7] dark:hover:bg-[#1A8CF7] dark:hover:text-white">Next</a>
      </li>
    {% else %}
      <li>
        <a disabled class="cursor-not-allowed disabled flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg  dark:white dark:border-[#1A8CF7] dark:text-[#1A8CF7]">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
{%endif%}