{% extends "layout.html" %}
{% load static %}
{% block title %}signup page{% endblock %}
{% block body %}
<section>
  <div class="flex justify-evenly my-2 ">
  <div class="w-full bg-white rounded-3xl shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-white dark:border-[#1A8CF7] shadow-lg">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 md:text-4xl dark:text-gray-900 uppercase text-center">
              Sign up
          </h1>
          <form action="{% url 'signup' %}" class="space-y-4 md:space-y-6" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex justify-center">
              <div id="newavatar" class="bg-center bg-cover bg-no-repeat w-40 h-40 bg-[#D9D9d9] rounded-full flex justify-center items-center">
                <label for="uploadlogo"
                  class="cursor-pointer flex justify-center items-center bg-[#ffffff00] text-gray-100 w-full h-full m-auto opacity-0 rounded-full hover:bg-[#00000079] hover:opacity-100"><i class="fa fa-upload text-7xl" aria-hidden="true"></i
                ></label>
                <input
                  type="file"
                  id="uploadlogo"
                  name="uploadLogo"
                  class="hidden"
                  accept="image/jpeg, image/png, image/jpg"
                />
              </div>
            </div>
              <div class="text-center text-red-400 my-5">
              {{message}}
            </div>
              <div class="block md:grid grid-cols-2 gap-x-2">
                <div class="mb-5 md:mb-auto">
                  <label for="first_name" class="  block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900">First name</label>
                  <input type="text" name="first_name" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500" placeholder="ex:mohammed" required="">
                </div>
                <div>
                  <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900">Last name</label>
                  <input type="text" name="last_name" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500" placeholder="ex:hussein" required="">
                </div>
              </div>
              <div>
                  <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900">Username</label>

                  <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500" placeholder="ex:Alsumary" required="">
              </div>
              <div>
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900">Your email</label>
                  <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500" placeholder="name@example.com" required="">
              </div>
              <div>
                  <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900">Password</label>
                  <input data-popover-target="popover-password" data-popover-placement="bottom" type="password" name="password" id="password passwordCheck" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500" required="">
              </div>
              <div>
                  <label for="confirmation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900">Confirm password</label>
                  <input type="password" name="confirmation" id="confirm-password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white shadow-md dark:border-gray-200 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-[#1A8CF7] dark:focus:border-blue-500" required="">
              </div>
              <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-white dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="terms" class="font-light text-gray-500 dark:text-gray-500">Remember me</a></label>
                  </div>
              </div>
              <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-[#1A8CF7] dark:hover:bg-[#1d82e0] dark:focus:ring-primary-800">Create an account</button>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                  Already have an account? <a href="{% url 'signIn' %}" class="font-medium text-primary-600 hover:underline dark:text-[#1A8CF7]">SIGN IN here</a>
              </p>
          </form>
      </div>
  </div>
    <div class="hidden md:flex items-center justify-content center">
      <img class="h-auto max-w-full" src="{% static 'signup.png'%}" alt="" />
    </div>
  </div>
</section>



{% endblock %}